<body style="background-image: url(<%=@info[:img]%>)">
  <div class="container">
    <div class="row">
      <div id="ext" class="col-sm-8 col-sm-offset-2">
        <div id="content">
          <div id="time"><%=@info[:time]%></div>
          <div id="greeting"><%=@info[:greeting]%></div>
<!--         <div id="quote"><%=@info[:quote]%></div> -->
        </div>
      </div>
    </div>
  </div>
</body>

