<body style="background-image: url(<%=@info[:img]%>)">
  <div id ="container">
    <div id="content">
      <div id="time"><%=@info[:time]%></div>
      <div id="greeting"><%=@info[:greeting]%></div>
      <div id="quote"><%=@info[:quote]%></div>
    </div>
  </div>
</body>

