body {
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

#content {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

#time {
  font-size: 160px;
  color: white;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: 'Oxygen', sans-serif;
  text-shadow: 1px 1px black;
}

#greeting {
  font-size: 40px;
  color:white;
  font-weight: ;
  letter-spacing: ;
  font-family: 'Oxygen', sans-serif;
  text-shadow: 1px 1px black;
}

#quote {
  font-size: 20px;
  color:white;
  font-weight: ;
  letter-spacing: ;
  font-family: 'Oxygen', sans-serif;
  text-shadow: 1px 1px black;
}
